#headerdivs{
    padding: 2% 10% 1.5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#headerdiv1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#iitrlogodiv{
    width: 60%;
    height: 90px;
}

#toprightdiv{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
    font-weight: 400;
    width: 33%; 
}

#searchicon{
    padding-top: 10px;
    width: 3%;
}

#toprightdiv_flexu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.abc{
    width: 33.3%;
    display: flex;
    justify-content: center;
}
#toprightdiv_flexl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#toprightdiv_flexu_div2{
    display: flex;
    width: 80px;
    justify-content: space-around;
    width: 20%;
    padding-bottom: 8px;

}

#toprightdiv_flexu_div3{
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    font-weight: 400;
    width: 33%;
}

#iitrlogo{
    height: 65px;
    width: 480px;
}

#headerdiv3{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    justify-content: space-between;
}

#divafterheader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 10% 2% 10%;
    height: 15em;
    width: 100%;
    background-color: #5183B8;
    color: white;
}

#divafterheader_flex1{
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-bottom: 5%;
}

#textdiv{
    padding: 2% 10% 2% 10%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #333333;
}

#footer{
    display: flex;
    margin: 1% 0% 1% 0%;
    padding: 0% 10% 0% 10%;
    flex-flow: row wrap;
    justify-content: space-between;
}

#footerdiv1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    /* width: 26%; */
    /* background-color: yellow; */
    /* width: 800px; */
}

#footerdiv2{
    display: flex;
    width: 26%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    /* background-color: green; */
}

.footerdiv2div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 0px 10em 0px 10em; */
}

#footerdiv1div6{
    display: flex;
}

#footerdiv3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
    /* width: 26%; */
}


.footerdiv12divdiv1{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 2em;
}

.footerdiv12divdiv2{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#designersdiv{
    display: flex;
    flex-flow: row wrap;
    padding: 1% 0% 1% 0%;
    height: 33%;
    justify-content: space-between;
}

.divindesignersdiv{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 30em;
    justify-content: space-between;
    /* background-color: yellow; */
}

.photoname{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

.photolinks{
    display: flex;
    margin-left: 2em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photodescription{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.divbehindphoto{
    /* position: absolute; */
    margin-top: 6em;
    /* padding-left: 75%; */
    justify-content: center;
    display: flex;
    align-items: flex-end;
    background-color: #5183B8;
    height: 14em;
    width: 55em;
    vertical-align: bottom;
}

/* #designersdiv{
    display: flex;
} */

/* .divindesignersdiv{
    display: flex;
    flex-direction: column;
    width: 300px;
} */

.photo{
    filter: grayscale(100);
}
.photo:hover{
    filter: grayscale(0);
}

#developersdiv{
    display: flex;
    flex-flow: row wrap;
    padding: 1% 0% 1% 0%;
    height: 66%;
    justify-content: space-between;
}

.footerouterdivs{
    display: flex;
    justify-content: center; 
    width: 33%;
}