#headerdivs{
    padding: 2% 10% 1.5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#headerdiv1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#toprightdiv{
    display: flex;
    flex-direction: column;
    /* padding-top: 5%; */
    height: 60%;
    width: 25%;
}

#toprightdiv_flexu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#toprightdiv_flexl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
}

#toprightdiv_flexu_div2{
    display: flex;
    width: 17%;
    justify-content: space-between;
}

#toprightdiv_flexu_div3{
    display: flex;
    justify-content: space-between;
}

#iitrlogo{
    height: 90%;
    width: 60%;
}

#headerdiv3{
    display: flex;
    justify-content: space-between;
}

#divafterheader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 10% 2% 10%;
    height: 15em;
    background-color: #5183B8;
    color: white;
}

#divafterheader_flex1{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-bottom: 7%;
}

#textdiv{
    padding: 2% 10% 2% 10%;
}